<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type = "text" name = "User_name" placeholder="username"><br>
        <input type = "password" name = "password" placeholder="username"><br>
        <input type ="submit"  value="submit">

    </form>
  </body>
</html>